<!-- Nav -->
<nav id="nav">
  <p class="navbar-text pull-right">
  <% if user_signed_in? %>
    <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>
<ul>
  <li class="current"> <%= link_to "Home", root_path %></li>
  <li>
      <a href="">Case Management</a>
    <ul>
      <li><%= link_to "New Case", new_investigation_path%></li>
      <li><a href="#">Open Cases</a></li>
      <li>
        <a href="">Search Records</a>
        <ul>
          <li><%= link_to "Cases", investigations_path %> </li>
          <li ><%= link_to "Applicants", applicants_path %></li>
          <li><%= link_to "Clients", clients_path%></li>
          <li><a href="#">All Detectives</a></li>
        </ul>
      </li>
      <li><%= link_to "Calendar", calendar_show_path %></li>
    </ul>
  </li>
  <li><%= link_to "Client", clients_new_path %></li>
  <li><%= link_to "Applicant", new_applicant_path%></li>
  <li><%= link_to "About Us", about_us_about_path %></li>
  <li><a href="#footer">Support</a></li>       
</ul>
</nav>
</div>
  
<h2>Resend confirmation instructions</h2>

<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :confirmation_token %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Resend confirmation instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
