<!-- Nav -->
<nav id="nav">
  <p class="navbar-text pull-right">
  <% if user_signed_in? %>
    <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>
<ul>
  <li> <%= link_to "Home", root_path %></li>
  <li>
      <a href="">Case Management</a>
    <ul>
      <li><%= link_to "New Case", new_investigation_path%></li>
      <li><a href="#">Open Cases</a></li>
      <li>
        <a href="">Search Records</a>
        <ul>
          <li><%= link_to "Cases", investigations_path %></li>
          <li><%= link_to "Applicants", applicants_path %></li>
          <li><%= link_to "Clients", clients_path%></li>
          <li><a href="#">All Detectives</a></li>
        </ul>
      </li>
      <li><%= link_to "Calendar", calendar_show_path %></li>
    </ul>
  </li>
  <li><%= link_to "Client", clients_new_path %></li>
  <li><%= link_to "Applicant", new_applicant_path%></li>
  <li class="current"><%= link_to "About Us", about_us_about_path %></li>
  <li><a href="#footer">Support</a></li>       
</ul>
</nav>
</div>
<!-- Main -->
<section class="wrapper style1">
	<div class="container">
		<div id="content">

			<!-- Content -->

<span class="image featured"><img src="/assets/banner.jpg" alt="" /></span>
          <!-- Content -->
<article>
<header>
  <h2>The Rhode Island State Police</h2>
  <h3>Gaming Enforcement Unit</h3>
  <p>About Us</p>
</header>


<h4>As defined by Title 42, State Affairs and Government, Chapter 42-61.3, Casino Gaming, Section 42-61.3-1:<h4>

<h5>
§ 42-61.3-1  Gaming enforcement unit. – (a) The superintendent of the state police shall establish a gaming enforcement unit within the state police. </h5></p>


  <p> (b) The gaming enforcement unit shall work both independently and in conjunction and cooperation with the division of state lottery and the department of business regulation to ensure the integrity of casino gaming activities in the state. </p>


  <p> (c) The superintendent of the state police shall assign such supervisory and investigative personnel and other resources to the gaming enforcement unit as may be necessary to fulfill its obligations under this chapter. No person assigned to the casino gaming unit, other than in the performance of his/her official duties, shall place a wager in a facility licensed by the division of state lottery. </p>


  <p> (d) The gaming enforcement unit's responsibilities shall include, but not be limited to:</p> 


 <p> (1) Conducting due diligence investigations and background investigations with respect to entities and individuals required to be licensed by the division and/or the department of business regulation; </p>


  <p> (2) Monitoring for and investigating potential criminal activity; and </p>


  <p> (3) Taking any and all actions necessary to enforce the criminal laws related to casino gaming activities.</p> 


 <p>  (e) Any and all individuals and/or entities licensed by the division of state lottery and/or the department of business regulation shall cooperate with the gaming enforcement unit in the performance of its duties.</p> 


  <p> (f) The gaming enforcement unit may independently conduct gaming related investigations and background investigations that require out-of-state travel. It shall be the responsibility of the applicant and/or licensee, as applicable, to reimburse the state police for all travel-related expenses incurred while conducting gaming-related investigations and background investigations.</p> 


  <p> (g) Notwithstanding any other provisions of the general laws, members of the gaming enforcement unit shall have the power to enter the premises of a gaming facility licensed by the division of state lottery at any time, to the extent permissible under the constitutions of the state of Rhode Island and the United States of America, through its investigators and law enforcement personnel at any time without notice for the following purposes: </p>


  <p> (1) To inspect and examine the premises of a gaming facility where casino gaming activities are conducted;</p> 


  <p> (2) To inspect, examine and/or seize any and all tangible property related to casino gaming activities; </p>

<p>
   (3) To inspect, examine, seize and/or audit all computers, books, ledgers, documents, writing, photocopies, correspondence, records, videotapes, including electronically stored records, money receptacles, other containers and their contents, and equipment in or on which the records are stored at a licensed gaming facility, its parking areas and/or adjacent buildings and structures on the premises of the gaming facility; </p>


  <p> (4) To conduct criminal investigations into violations of the criminal laws or the rules and regulations promulgated thereto; </p>


  <p> (5) To eject, exclude or authorize the ejection or exclusion of a person from a gaming facility if the person allegedly violated any criminal law, or when the division of state lottery or the casino gaming unit determines that the person's conduct or reputation is such that his or her presence within the gaming facility may compromise the honesty and integrity of casino gaming activities or interfere with the orderly conduct of casino gaming activities. Nothing herein shall preclude any other law enforcement or regulatory agency from having similar authority as otherwise permitted by law or regulation; and </p>


   <p>(6) Take any and all other actions as may be reasonable or appropriate to carry out their duties and responsibilities under this chapter. </p>


				</article>

		</div>
	</div>
</section>
