 <% if flash['error']%>
	<%= flash['error']%>
<% end %>
 	<pre>
	<% params.each do |key, value| %>
		<%= key + " ==> " + value %>
	<% end %>
</pre>
<% if !@submited %>
<!-- Main -->
			<section class="wrapper style1">
				<div class="container">
					<div class="row 200%">
						<div class="3u 12u(narrower)">
							<%= form_for investigations_path, :method => "POST" do %>
							<div id="sidebar1">

								<!-- Sidebar 1 -->

									<section>
										<h3>The Rhode Island Gaming App</h3>
										<p>Welcome to a one stop integrated application for Rhode Island Gaming employees. Please fill out the application below to begin the Background Investigation Process.</p>
										<footer>
											<span class="image featured"><img src="/assets/banner.jpg" alt="" /></span>

										</footer>
									</section>

									<section>
										<h3>Contact Information</h3>
											<%= label_tag :email, "Applicant Email: " %>
											<%= email_field_tag :email, @email %> <br>
											
											<%= label_tag :phone1, "Primary Phone: " %> 
											<%= text_field_tag :phone1, @phone1 %><br>

											<%= label_tag :phone2, "Secondary Phone: " %> 
											<%= text_field_tag :phone2, @phone2 %><br>
											
									</section>

							</div>
						</div>
						<div class="6u 12u(narrower) important(narrower)">
							<div id="content">

								<!-- Content -->

									<article>
										<header>
											<h2>New Applicant</h2>
											<p>Welcome lets begin a new application</p>
										</header>
											<%= radio_button_tag :type, "Business", @type %>Business <br>
											<%= radio_button_tag :type, "Individual", @type %>Individual<br>	

											<%= label_tag :firstname, "Applicant First Name: " %> 
											<%= text_field_tag :firstname, @firstname %> <br>

											<%= label_tag :lastname, "Applicant Last Name: " %> 
											<%= text_field_tag :lastname, @lastname %> <br>
											
											<%= label_tag :social, "Social Security Number: " %> 
											<%= text_field_tag :social, @social %> <br>
											
											<%= label_tag :dob, "Date of Birth: " %>
											<%= date_field_tag :dob, @dob %> <br>
											
											<%= label_tag :social, "Affliated Company: " %>
											<%= text_field_tag :social, @social %> <br>											
											<%= label_tag :comments, "Additional comments: " %>
											<%=text_area_tag :comments, @comments, :sixe => "50X100" %>
									</article>

							</div>
						</div>
						<div class="3u 12u(narrower)">
							<div id="sidebar2">

								<!-- Sidebar 2 -->

									<section>
										<h3>Address Information</h3>
										
											<%= label_tag :address, "Address line 1: " %> 
											<%= text_field_tag :address, @address %> <br>

											<%= label_tag :line2, "Address line 2: " %> 
											<%= text_field_tag :line2, @line2 %> <br>

											<%= label_tag :city, "City: " %> 
											<%= text_field_tag :city, @city %><br>

											<%= label_tag :state, "State: " %> 
											<%= text_field_tag :state, @state %><br>

											<%= label_tag :zip, "Zip Code: " %> 
											<%= text_field_tag :zip, @zip %><br>

									<section>
											<%= submit_tag "Submit" %>
											<%end%>
									</section>
							</div>
						</div>
					</div>
				</div>
			</section>
<%else%>
	Thanks for submitting a new investigation for approval.
<%end%>
