<%= simple_form_for(@case) do |f| %>
  <%= f.error_notification %>
<!-- Main -->
      <section class="wrapper style1">
        <div class="container">
          <div class="row 200%">
            <div class="3u 12u(narrower)">
              <div id="sidebar1">

                <!-- Sidebar 1 -->

                  <section>
                    <span class="image featured"><img src="/assets/banner.jpg" alt="" /></span>
                    <h3>Applicant Info</h3>

                        <%= f.input :applicant_name, label:"Applicant Name" %>
                        <%= f.input :applicant_social, label: "Social Security Number" %>
                        <%= f.input :applicant_dob, as: :date, start_year: Date.today.year - 90,
                                                    end_year: Date.today.year - 12, discard_day: true,
                                                    order: [:month, :year] %>
                  </section>
              </div>
            </div>
            <div class="6u 12u(narrower) important(narrower)">
              <div id="content">

                <!-- Content -->

                  <article>
                    <header>
                      <h2>New Investigation</h2>
                      <p>Welcome Officer, lets begin a new Investigation</p>
                    </header>                     
                      <%= f.input :caseNumber, label:"Case Number" %>
                      <%= f.input :gaming_license_number, label:"Gaming License Number" %>
                      <%= f.input :position, collection: Case::Position.all %>
                      <%= f.input :licenseType, collection: Case::LicenseType.all %>
                  </article>

              </div>
            </div>
            <div class="3u 12u(narrower)">
              <div id="sidebar2">

                <!-- Sidebar 2 -->

                  <section>
                    <%= f.input :assigned_date, as: :date %>
                    <%= f.input :closed_date, as: :date %>

                    <%= f.input :location, collection: Case::Location.all %>
                    <%= f.input :status, collection: Case::Status.all %><br></br>
                  </section>
                    <div class="form-actions">
                      <%= f.button :submit, label:"Submit"%>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </section>

  <%end%> 
