<!-- Nav -->
<nav id="nav">
  <p class="navbar-text pull-right">
  <% if user_signed_in? %>
    <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>
<ul>
  <li> <%= link_to "Home", root_path %></li>
  <li>
      <a href="">Case Management</a>
    <ul>
      <li><%= link_to "New Case", new_investigation_path%></li>
      <li><a href="#">Open Cases</a></li>
      <li>
        <a href="">Search Records</a>
        <ul>
          <li><%= link_to "Cases", investigations_path %> </li>
          <li ><%= link_to "Applicants", applicants_path %></li>
          <li><%= link_to "Clients", clients_path%></li>
          <li><a href="#">All Detectives</a></li>
        </ul>
      </li>
      <li><%= link_to "Calendar", calendar_show_path %></li>
    </ul>
  </li>
  <li class = "current"><%= link_to "Client", clients_new_path %></li>
  <li><%= link_to "Applicant", new_applicant_path%></li>
  <li><%= link_to "About Us", about_us_about_path %></li>
  <li><a href="#footer">Support</a></li>       
</ul>
</nav>
</div>

    <!-- Main -->
      <section class="wrapper style1">
        <div class="container">
          <div class="row 200%">
            <div class="4u 12u(narrower)">
              <div id="sidebar">

                <!-- Sidebar -->

                  <section>
                  <section>
                    <%= form_tag("/clients", method: "get") do %>
                      <%= label_tag(:search, "Search Clients:") %>
                      <%= text_field_tag(:search) %>
                      <br>
                      <%= submit_tag("Search") %>
                    <% end %>
                    <br>
                  </section>
                      <span class="image featured"><img src="/assets/banner.jpg" alt="" /></span>
                    </footer>
                  </section>
              </div>
            </div>
            <div class="8u  12u(narrower) important(narrower)">
              <div id="content">

                <!-- Content -->

                  <article>
                    <header>
                      <h2>Client Records</h2>
                      <p>This table lists information about all clients</p>
                    </header>
                        <table class="default">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Phone</th>
                              <th>Email</th>
                              <th colspan="3"></th>
                            </tr>
                          </thead>

                          <tbody>
                            <% @clients.each do |client| %>
                              <tr>
                                <td><%= client.clientName %></td>
                                <td><%= client.clientPhone %></td>
                                <td><%= client.clientEmail %></td>
                                <td><%= link_to 'Show', client %></td>
                                <td><%= link_to 'Edit', edit_client_path(client) %></td>
                                <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>

                        <br>
                  </article>

              </div>
            </div>
          </div>
        </div>
      </section>
<%= link_to 'New Client', new_client_path %>
