  <!DOCTYPE html>
<html lang="en-US">
<head>
  <title>RI State Police | Gaming Enforcement Unit</title>
 <link rel="icon" type="image/png" href="/assets/favicon.png"

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :defaults %>
  <!--<%= csrf_meta_tags %>-->
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/jquery.dropotron.min.js"></script>
    <script src="/assets/skel.min.js"></script>
    <script src="/assets/skel-layers.min.js"></script>
    <script src="/assets/init.js"></script>
      <link rel="stylesheet" href="/assets/skel.css" />
      <link rel="stylesheet" href="/assets/style-mobile.css" />
      <link rel="stylesheet" href="/assets/style-mobilep.css" />
      <link rel="stylesheet" href="/assets/style-narrow.css.css" />
      <link rel="stylesheet" href="/assets/style-normal.css" />
      <link rel="stylesheet" href="/assets/style.css" />
      <link rel="stylesheet" href="/assets/style-wide.css" />

  </head>

<body>
  <div id="wrapper">
    <!-- Header -->
      <div id="header">

        <!-- Logo -->
          <h1><a href="index.html" id="logo">Rhode Island State Police | <em>Gaming Enforcement Unit</em></a></h1>
<%= yield %>
    </div>
    <!-- Footer -->
      <div id="footer">
        <div class="container">
          <div class="row">
            <section class="3u 6u(narrower) 12u$(mobilep)">
              <h3>Contact Information</h3>
              <ul class="links">
                <li>RI State Police</li>
                <li>Gaming Enforcement Unit</li>
                <li>331 Danielson Pike</li>
                <li>North Scituate, RI 02857</li>
                <li>__________________________<li>
                <li>phone: (401) 444-1147</li>
                <li>fax: (401) 444-1097</li>
                <li>email: cgu@risp.dps.ri.gov</li>
              </ul>
            </section>
            <section class="3u 6u$(narrower) 12u$(mobilep)">
              <h3>State Police Links</h3>
              <ul class="links">
                <li><a href="http://www.risp.ri.gov/">RI State Police Home</a></li>
                <li><a href="http://www.risp.ri.gov/sectionsandunits/charitablegaming.php">Charitable Gaming Unit</a></li>
                <li><a href="http://www.gambling-law-us.com/State-Laws/Rhode-Island/">RI Gambling Laws</a></li>
                <li><a href="http://webserver.rilin.state.ri.us/AnnReports/2014/RISP_2013AnnualReport.pdf">2013 Annual Report</a></li>
                <li><a href="http://ri.gov">RI.gov Home Page</a></li>
                <li><a href="http://www.dps.ri.gov/">Department of Public Safety</a></li>
                <li><a href="http://www.governor.ri.gov/">Office of the Govenor</a></li>
              </ul> </style>
            </section>
            <section class="6u 12u(narrower)">
              <h3>Get In Touch with Support</h3>
              <form>
                <div class="row 50%">
                  <div class="6u 12u(mobilep)">
                    <input style="width:100%" type="text" name="name" id="name" placeholder="Name" />
                  </div>
                  <div class="6u 12u(mobilep)">
                    <input style="width:100%" type="email" name="email" id="email" placeholder="Email" />
                  </div>
                </div>
                <div class="row 50%">
                  <div class="12u">
                    <textarea style="width:100%" name="message" id="message" placeholder="Message" rows="5"></textarea>
                  </div>
                </div>
                <div class="row 50%">
                  <div class="12u">
                    <ul class="actions">
                      <li><input type="submit" class="button alt" value="Send Message" /></li>
                    </ul>
                  </div>
                </div>
              </form>
            </section>
          </div>
        </div>
        <!-- Icons -->
          <ul class="icons">
            <li><a href="http://www.ri.gov/rss/40/pressrelease.rss"><img src="/assets/rss.png" /><span class="label"></span></a></li>
            <li><a href="https://www.facebook.com/RhodeIslandStatePolice"><img src="/assets/facebook.png"/><span class="label"></span></a></li>
            <li><a href="https://twitter.com/RIStatePolice/"><img src ="/assets/twitter.png"/><span class="label"></span></a></li>
            <li><a href="https://www.youtube.com/user/RhodeIslandSP"><img src="/assets/youtube.png"/><span class="label"></span></a></li>
            <li><a href="#"><img src="/assets/google-plus.png"/><span class="label"></span></a></li>
             <li><a href="#"><img src="/assets/linkedin.png"/><span class="label"></span></a></li>
             <li><a href="#"><img src="/assets/pintrest.png"/><span class="label"></span></a></li>
          </ul>

        <!-- Copyright -->
          <div class="copyright">
            <ul class="menu">
              <li>Design By:&copy;Chinon Development: All Rights Reserved</li> <br>
              <li><a href="http://github.com/jpstearns/gtf_app">User Manual & Support Files</a></li>
            </ul>
          </div>

      </div>
  </div>
</body>
</html>
